.card {
  /* background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%); */
  width: 20rem;
  height: 10rem;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 10px;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  float: left;
  margin-top: 1rem;
}

.card-title {
  position:relative ;
  left: 8em;
  bottom: 7em;
}

.card-types {
  position: relative;
  left: 9.5rem;
  bottom: 8.5em;
  border: 1px solid black;
  width: fit-content;
  padding-left: 3px;
  padding-right: 3px;
}