.card {
  width: 20rem;
  height: 10rem;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 10px;
  line-height: 25px;
  box-shadow: 5px 5px 10px #8a8a8a;
  float: left;
  margin-top: 1rem;
  margin-right: 0.3rem;
  transition: 0.5s;
}

.card-title {
  position:relative ;
  left: 8em;
  bottom: 7em;
}

.type-card{
  width: 20%;
  position: relative;
  left: 9.5rem;
  bottom: 8.5rem;
  margin-right: 3px;
}

.img-card{
  width: 50%;
}